#section-1 {
  border: 20px solid black;
  margin: 30px;
  padding: 20px;
  display: flex;
  display: block;
}

#section-1 h2,
p {
  background-color: #777;
}

.bottom-p {
  margin: 10px;
}

pre {
  font-family: "Courier New", Courier, monospace;
}

.first-letter {
  font-size: 30px;
}
