.hero {
  /* border: 2px solid black; */
  /* margin: 10px; */
  padding: 20px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1770027217960-a0a09e423b77?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.mobile-hide {
  display: none;
}

.hero h1 {
  font-size: 56px;
  font-weight: 550;
}

.hero p {
  font-size: 24px;
}

.hero-actions {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.btn {
  display: inline-block;
  border: 2px solid white;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  border-radius: 18px;
}

.primary {
  background-color: #0071e3;
}

.cards {
  display: flex;
}

.card {
  background-color: #196edd;
  width: 400px;
  height: 250px;
  margin: 10px;
  padding: 25px;
  border-radius: 18px;
}
.card h2 {
  font-size: 30px;
  color: white;
}

.card article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 16px;
  padding: 5px;
  font-size: 18px;
}

/** Mobile first */

/** XXL */
@media (width < 1600px) {
}

/** XL */
@media (width < 1400px) {
}

/** L */
@media (width < 1200px) {
}

/** M */
@media (width < 992px) {
  .cards {
    flex-direction: column;
  }
  .card {
    width: 400px;
    margin: auto;
    margin-top: 10px;
  }
}

/** S */
@media (width < 768px) {
  .card {
    width: 350px;
  }
}

/** XS */
@media (width < 576px) {
  .hero p {
  }
  .cards {
    flex-direction: column;
  }
}

.hero > .mobile-hide {
  display: block;
}
